/* Reset default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Helvetica Neue', sans-serif;
}

/* Header styles */
header {
	background-color: #f7f7f7;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header h1 {
	font-size: 2.5rem;
	font-weight: bold;
	color: #444;
}

nav ul {
	display: flex;
	list-style: none;
}

nav li {
	margin-right: 1rem;
}

nav li a {
	text-decoration: none;
	color: #444;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
}

nav li a:hover {
	color: #3d9970;
}

/* Main styles */
main {
	padding: 2rem;
}
